* {
    background-color: #020807;
    color: #f0f6fc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-left: 0;
    margin-right: 0;
}

#main {
    margin-left: 20px;
    margin-right: 20px;
}
